.mainLogo {
  font-family: 'Press Start 2P';
  font-size: 2rem;

  color: var(--text-0);
  padding: 0.75rem;
  text-align: center;

  border: 0.25rem solid var(--border-0);

  /* ///// */
  /* border: 0.25rem inset var(--background-1);
  background-color: var(--background-2);
  color: var(--glow-0);

  justify-content: flex-end;

  text-shadow: 0rem 0rem 0.25rem var(--glow-0); */
}

.theButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-1);
  padding: 1rem;

  border: 0.5rem outset;
  /* box-sizing: border-box; */
  /* box-shadow: 0.125rem 0.125rem var(--glow-0), -0.125rem -0.125rem var(--glow-1); */
  font-size: 1rem;
}

.theButton:hover {
  cursor: pointer;
  opacity: 0.9;
}

.theButton:active {
  border: 0.5rem ridge;
  background-color: var(--background-1);
}

.counter {
  letter-spacing: 0.125rem;
  padding: 0.25rem;
  border: 0.25rem inset var(--background-1);
  background-color: var(--background-2);
  color: var(--glow-0);

  justify-content: flex-end;

  text-shadow: 0rem 0rem 0.125rem var(--glow-0);
}
