* {
    --text-1: rgb(24, 20, 20);
    --text-2: rgb(59, 46, 46);
    --background-1: rgb(255, 255, 255);
    --background-2: rgb(127, 127, 127);
    --background-3: rgb(0, 0, 0);
    --primary-1: rgb(219, 47, 41);
    --primary-2: rgb(97, 64, 214);

    font-family: 'Cairo', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: var(--text-1);
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.main-container {
    position: relative;
}

#viewport-canvas {
    z-index: 1;
    position: absolute;
    display: block;
}

#overlay-container {
    position: absolute;
    height: 100vh;
}

#options-panel {
    z-index: 2;
    position: relative;
    right: 0;
    height: 100%;
    background-color: var(--background-1);
    border-right: 2px solid var(--background-3);

    left: -100%;
    transition: left 0.125s;
}

#options-panel:hover {
    left: 0%;
}

#options-triangle {
    position: absolute;
    left: 100%;
    top: 50%;

    border: 1rem solid transparent;
    border-left: 1rem solid var(--background-3);
}

#options-content {
    display: grid;
    padding: 0.5rem;
    gap: 0.5rem;
}

.colour-selection-panel, .tool-selection-panel {
    border: 1px solid var(--background-3);
}

.main-colour-selector {
    width: 6rem;
    height: 6rem;

    box-sizing: border-box;
    border: 1px solid var(--background-3);
}
input[type='color'] {
    opacity: 0;
    width: 100%;
    height: 100%;
}

.palette-container {
    display: grid;
    grid-template-columns: repeat(5, 2.4rem);

    width: 12rem;
    height: 6rem;
}

.saved-colour-card {
    background-color: #7f7f7f;

    box-sizing: border-box;
    border: 1px solid var(--background-3);
}

.tool-container {
    display: grid;
    grid-template-columns: repeat(4, 3rem);

    width: 12rem;
    height: 6rem;
}

.tool-select {
    background-color: var(--background-2);
    border: 1px solid var(--background-3);
}