.flexDivider-0 {
  align-self: stretch;
  border-left: 0.25rem solid var(--border-0);
  border-top: 0.25rem solid var(--border-0);
}

.flexDivider-1 {
  align-self: stretch;
  border-left: 0.25rem solid var(--border-1);
  border-top: 0.25rem solid var(--border-1);
}

.flexDivider-2 {
  align-self: stretch;
  border-left: 0.25rem solid var(--border-2);
  border-top: 0.25rem solid var(--border-2);
}
