.pageContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--background-3);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentContainer {
  flex-direction: column;
  background-color: var(--background-1);
  padding: 2rem;
  border: 0.25rem outset black;
  gap: 1rem;
}
